.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-container {
  display: flex;
}

.inner-shadow {
  box-shadow: inset 10px 0 20px #222222;
}

.App-header {
  min-height: 100vh;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-dark {
  background: #282c34;
  color: whitesmoke;
}

.bg-light {
  background: whitesmoke;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.font-code {
  font-family: consolas;
  font-size: 1em;
}

.hljs-keyword {
  color: #b26cff;
}

.hljs-string {
  color: orange;
}

.text-normal {
  font-size: .8em;
}

.hljs-number {
  color: #3b9e87;
}

pre{
  white-space: pre-wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
